@font-face {
    font-family: 'Inter';
    src: url(./assets/fonts/Inter/Inter-VariableFont_slnt\,wght.ttf);
}

* {
    padding: 0px;
    margin: 0px;
    border: 0px;
    font-family: 'Inter', sans-serif;
}

body {
    background-color: #1D203A;
}

header {
    display: flex;
    flex-direction: row;
    justify-content: right;
    align-items: center;
    position: absolute;
    width: 95vw;
    height: 10vh;
    right: 0px;
}

.navbar {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: fixed;
    background-color: #13172B;
    width: 5vw;
    height: 100vh;
}

#imagemLogo {
    margin-top: 4vh;
}

.icons_navbar {
    margin: 15vh;
}

.img_navbar {
    width: 40px;
    height: 30px;
}

li {
    list-style-type: none;
    width: 23px;
    height: 23px;
    margin: 5vh;
}

#logout {
    margin-top: 25vh;
}

.icons_azul:hover {
    fill: #00ffff;
}

.pieChart:hover {
    stroke: #00ffff;
}

.dash_div {
    position: absolute;
    width: 95vw;
    height: 90vh;
    right: 0px;
    bottom: 0px;
}

.User {
    display: flex;
    flex-direction: row;
    margin-right: 3vh;
}

.pUser {
    color: rgb(217, 213, 213);
    font-size: small;
    font-weight: 300;
}

