@font-face {
    font-family: 'Inter';
    src: url(./assets/fonts/Inter/Inter-VariableFont_slnt\,wght.ttf);
}

* {
    padding: 0px;
    margin: 0px;
    border: 0px;
    font-family: 'Inter', sans-serif;
}


/* header */

header {
    display: flex;
    justify-content: space-between;
    align-items: center;

    height: 100px;
    padding: 0 10px;

    background-color: #191e29;
    color: white;
    border-bottom: 3px solid aqua;
}

header>img {
    width: 150px;
    height: auto;
}

header>div {
    display: flex;
    align-items: center;
    gap: 10px;
    cursor: pointer;
}

.ativo_menu {
    border-bottom: 1px solid aqua;
}

.menu:hover {
    color: aqua;
}

/* Principal */

.principal {
    display: flex;
    align-items: center;
    justify-content: space-between;

    color: #ffff;
    background: rgb(2, 0, 36);
    background: linear-gradient(90deg, rgba(2, 0, 36, 1) 0%, rgba(25, 30, 41, 1) 35%, rgba(0, 212, 255, 1) 100%);

    height: 350px;
    width: 100%;
}

.principal>img {
    width: 40%;
    height: 90%;
}

.principal>div {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 60%;
    justify-content: space-evenly;
}

.principal > div > h1 {
    font-size: 48px;
}


/* Solucao */

.solucao {

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 20px;

    color: #ffff;
    background-color: #020024;
    text-align: center;
    height: 50vh;

    border-bottom: 1px solid aqua;
}

.solucao > h2 {
    font-size: 32px;
}

.solucao > p {
    width: 50%;
}

.recursos {

    color: #ffff;
    background-color: #020024;
    padding-bottom: 30px;

    border-bottom: 1px solid aqua;
}
.card{
    background-color: #171b29 !important;
}
.card-img-top {
    width: 100% !important;
    height: 200px !important;
}
.card-title{
    text-align: center !important;
    color: #ffff !important;
}
.card-text{
    min-height: 150px !important;
    color: #ffff !important;
}

.row {
    margin:  0px !important;
    justify-content: center;
}

/* Objetivo */

.objetivo{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;
    background-color: #020024;
    color: #ffff;

    padding: 20px 0px;
}

.objetivo > .item {
   display: flex;
   flex-direction: column;
   align-items: center;
}
.objetivo > .item > p {
    font-size: 32px;
}
.objetivo > .item > span {
    width: 50%;
    text-align: center;
    padding-bottom: 5px;
    border-bottom: 1px solid #191e29;
}

/* quem somos */

.quem_somos{
    background-color: #020024;
    padding: 80px 0px;
}
.quem_somos > h2{
    border-top: 1px solid aqua;
    color: #ffff;
    font-size: 32px;
    text-align: center;
    padding: 50px 0px;
}

.integrante {
    display: flex;
    color: #ffff;
    gap: 20px;
    align-items: center;
}
.perfil {
    width: 200px;
    height: 200px;
}
.perfil  > img{
    border-radius: 100%;
    width: 100%;
    height: 100%;
}
.container-integrante{
    display: flex;
    justify-content: center;
    gap: 30px;

}

.foto-integrante{
    object-fit: cover;
}

/* footer */

footer {
    height: 80px;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    background-color: #191e29;
    border-top: 1px #00ffff solid;
    padding: 2px 0px;
}

.ul-footer {
    font-size: 18px;
    list-style: none;
    display: inline-flex;
    color: #ffff;
    padding: 0px;
    margin-bottom: 0px;
}


.footer-creditos {
    color: #696e79;
}


@media screen and (max-width: 768px) {
    header > img{
       display: none;
    }
    header {
        justify-content: center;
        
    }

    .principal>img {
        display: none;
    }
    .principal>div{
        width: 90%;
        text-align: center;
    }

    .solucao > p {
        width: 90%;
    }

    .col-3 {
        width: 100% !important;
    }

    .container-integrante{
        flex-direction: column;
    }
}