@font-face {
    font-family: 'Inter';
    src: url(./assets/fonts/Inter/Inter-VariableFont_slnt\,wght.ttf);
}


* {
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    font-family: 'Inter', sans-serif;
}

a {
    text-decoration: none;
}

header {
    width: 100%;
}

.nav-itens {
    background: #191e29;
    height: 100px;
    display: flex;
    justify-content: center;
}

.conteudo-header {
    width: 80%;
    align-items: center;
    display: flex;
    justify-content: space-between;
}

.ul-itens li {
    display: inline-flex;
    font-size: 20pt;
    padding: 0 15px;
}

.img-logo {
    width: 25%;
    height: auto;
}

#linha {
    text-decoration: none;
    width: 100%;
    height: 5px;
    border: none;
    background: aqua;
}

.img-home {
    width: 100%;
}

.primeira-img-home {
    display: flex;
}

 .img-inicio-home{
    width: 100%;
    height: 40rem;
} 

.informacoes-home {
    width: 100%;
    height: auto;
    background: #434957;
    display: flex;
    align-items: center;

    flex-direction: column;
}

.info-texto {
    width: 80%;
    padding: 90px 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.info-texto h1, .membros-home h2 {
    font-size: 28pt;
    color: #00FFFF;
}

.info-texto p {
    font-size: 22pt;
    margin-top: 50px;
    color: white;
}

.info-funcao {
    width: 80%;
    padding: 80px 0;
    align-items: center;
    display: flex;
    justify-content: space-between;
}

.segunda-img-home {
    width: 550px;
    height: 250px;
    border-radius: 20px;
}

.info-funcao p {
    font-size: 22pt;
    color: white;
    margin-left: 120px;
    width: 40%;
}

.info-valores {
    width: 80%;
    padding: 80px 0;
    align-items: center;
    flex-direction: column;
}

.valores {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    width: 100%;
}

.valores-margin{
    margin: 60px 0;
}

.terceira-img-home {
    width: 230px;
    height: 245px;
    border-radius: 190px;
}

.valores-texto {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 50%;
}

.valores-texto h3 {
    font-size: 30pt;
    color: white;
}

.valores-texto p {
    font-size: 20pt;
    padding: 10px;
    color: white;
}

.membros-home {
    width: 100%;
    padding: 80px 0;
    background: #434957;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.membro-img-home{
    width: 245px;
    height: 247px;
    border-radius: 190px;
}

.membros {
    width: 80%;
    padding: 50px 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

footer {
    height: 25vb;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    background-color: #191e29;
    border-top: 4px #00ffff solid;
}

.ul-footer {
    font-size: 25px;
    list-style: none;
    display: inline-flex;
}

.ul-footer li {
    padding: 10px;
}

.footer-creditos {
    color: #696e79;
}


@media screen and (max-width: 1020px) {

    .header{
        position: fixed;
    }

    .ul-itens li {
        display: inline-flex;
        font-size: 10pt;
        padding: 0 15px;
    }

    .img-logo {
        width: 50px;
        height: 30px;
    }

    .info-texto h1 {
        font-size: 30pt;
    }

    .info-texto p {
        font-size: 15pt;
    }

    .info-funcao {
        width: 80%;
        padding: 50px 0;
        align-items: center;
        display: flex;
        flex-direction: column;
    }

    .segunda-img-home {
        width: 400px;
        height: 200px;
    }

    .info-funcao p {
        font-size: 15pt;
        color: white;
    }

    .terceira-img-home {
        width: 100px;
        height: 100px;
    }

    .valores-texto h3 {
        font-size: 11pt;
        color: white;
    }
    
    .valores-texto p {
        font-size: 9pt;
        padding: 0;
        white-space: pre-line;
    }
    
    .membros-home h2 {
        font-size: 30pt;
    }

    .membro-img-home {
        width: 100px;
        height: 100px;
    }
    
    .ul-footer {
        font-size: 10pt;
    }
    

}