@font-face {
    font-family: 'Inter';
    src: url(./assets/fonts/Inter/Inter-VariableFont_slnt\,wght.ttf);
}

* {
    padding: 0px;
    margin: 0px;
    border: 0px;
    font-family: 'Inter', sans-serif;
}

body {
    background-color: #1D203A;
    overflow: hidden;
}


.container-fundo {
    display: flex;
    justify-content: center;
    align-items: center;
}

.container {
    width: 100%;
    height: 990px;
    display: flex;
}

.container-formulario {
    display: flex;
    width: 50vw;
    height: 100vh;
    background-color: #585d8a;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.container-info-esp {
    display: flex;
    justify-content: space-between;
}

.infofuncionario {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.infofuncionario h2,
.espfuncionario h2 {
    font-size: 22pt;
}

.infofuncionario label,
.espfuncionario label {
    padding: 20px;
    font-weight: bold
}

.espfuncionario {
    display: flex;
    flex-direction: column;
    align-items: center;
}


.container-formulario input {
    width: 200px;
    height: 35px;
    border-radius: 5px;
}

.container-formulario button {
    background: #332e2e;
    color: white;
    width: 100px;
    height: 60px;
    border-radius: 10px;
    border: none;
    box-shadow: 0 9px #999;
}

.container-formulario button:hover {
    background-color: #3f3e8e
}

.container-formulario button:active {
    background-color: #3e8e41;
    box-shadow: 0 5px #666;
    transform: translateY(4px);
}

.container-formulario h2 {
    padding: 20px;
    color: rgb(238, 238, 238);
}

.container-formulario button {
    margin-top: 40px;
}

.container-funcionarios-cadastradas {
    display: flex;
    width: 50vw;
    height: 100vh;
    background-color: #332e2e;
    flex-direction: column;
    overflow-y: scroll;
}

.container-funcionarios-cadastradas li {
    display: flex;
    padding: 10PX;
    font-size: 15pt;
}

.container-funcionarios-cadastradas ul {
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.container-funcionarios-cadastradas button {
    width: 50px;
    margin: 10px;
    height: 50px;
    border-radius: 5%;
    justify-content: center;
    display: flex;
}

.container-funcionarios-cadastradas li,
.container-funcionarios-cadastradas button {
    display: flex;
    align-items: center;
}

#hr-style {
    color: rgb(250, 248, 248);
    text-decoration: none;
    width: 2px;
    background: rgb(248, 246, 246);
}



.open-button {
    background-color: #555;
    color: white;
    padding: 16px 20px;
    border: none;
    cursor: pointer;
    opacity: 0.8;
    position: fixed;
    bottom: 23px;
    width: 280px;
}

.form-popup {
    display: none;
    position: fixed;
    justify-content: center;
    align-items: center;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border: 3px solid #f1f1f1;
    z-index: 9;
    background-color: white;
    padding: 15px;
    max-width: 300px;
}

.form-container {
    max-width: 300px;
    padding: 10px;
    background-color: white;
}

.form-container input[type=text],
.form-container input[type=password] {
    width: 90%;
    padding: 15px;
    margin: 5px 0 22px 0;
    border: none;
    background: #f1f1f1;
}

.form-container input[type=text]:focus,
.form-container input[type=password]:focus {
    background-color: #ddd;
    outline: none;
}

.form-container .btn {
    background-color: #04AA6D;
    color: white;
    padding: 16px 20px;
    border: none;
    cursor: pointer;
    width: 100%;
    margin-bottom: 10px;
    opacity: 0.8;
}

.form-container .cancel {
    background-color: red;
}

.form-container .btn:hover,
.open-button:hover {
    opacity: 1;
}

header {
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: #13172B;
    width: 100%;
    height: 10vh;
    right: 0px;
}

.container-header {
    display: flex;
    width: 100%;
    padding: 100px;
    justify-content: space-between;
}

.container-header h1 {
    color: rgb(197, 197, 197);
}

.navbar {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: fixed;
    background-color: #13172B;
    width: 5vw;
    height: 100vh;
}


.icons_navbar {
    margin: 15vh;
}

.img_navbar {
    width: 40px;
    height: 30px;
}

li {
    list-style-type: none;
    width: 23px;
    height: 23px;
    margin: 5vh;
}

#logout {
    margin-top: 25vh;
}

.icons_azul:hover {
    fill: #00ffff;
}

.pieChart:hover {
    stroke: #00ffff;
}

.dash_div {
    position: absolute;
    width: 95vw;
    height: 90vh;
    right: 0px;
    bottom: 0px;
}

.User {
    display: flex;

}

.pUser {
    color: rgb(217, 213, 213);
    font-size: small;
    font-weight: 300;
}

.card-info {
    width: 100%;
    height: 100%;
    background: rgb(236, 232, 232);
    /* border-color: #1D203A; */
    border-radius: 5%;
    border: 10px solid #1D203A;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

select {
    width: 270px;
    height: 48px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 18px;
    text-indent: 0.01px;
}

.botoesAlterar {
    display: inline-flex;
}

.botaoEditar {
    background-color: #4a4b4a;
    color: white;
    width: 400px;
}

.botaoRemover {
    background-color: red;
    color: white;
}

.filtrar-cargo {
    width: 100%;
    height: 2vh;
}

.filtrar-cargo input {
    height: 400px;
}

#lista-funcionarios li {
    width: 500px;
    height: 500px;
    padding: 4px;

}

.imgUser {
    width: 100px;
    height: 100px;
}

.imgButton {
    display: flex;
    padding: 20px;
}