@font-face {
    font-family: 'Inter';
    src: url(./assets/fonts/Inter/Inter-VariableFont_slnt\wght.ttf);
}

::-webkit-scrollbar {
    width: 0px;
}

* {
    padding: 0px;
    margin: 0px;
    border: 0px;
    font-family: 'Inter', sans-serif;
}

body {
    background-color: #1d203a;
}

header {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    position: absolute;
    width: 95vw;
    margin-top: 1.5rem;
    right: 0px;
}

.navbar {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #13172b;
    box-shadow: 0px 0px 13px 2px #13172b;
    width: 5.5vw;
    height: 100vh;
    position: fixed;
}

.icons_navbar {
    margin: 18vh;
}

.img_navbar {
    width: 45px;
    height: 40px;
    margin-top: 4rem;
}

li {
    list-style-type: none;
    width: 23px;
    height: 23px;
    margin: 4vh;
}

#logout {
    margin-top: 15vh;
    margin-left: 1.8rem;
}

.icons_azul:hover {
    fill: #00ffff;
}

.macbook:hover {
    stroke: #00ffff;
}

.User {
    color: rgb(217, 213, 213);
    font-size: 15px;
    font-weight: 300;
    display: flex;
    flex-direction: row;
    margin-right: 5vh;
    align-items: center;
}

.tamanho-padrao {
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.tamanho-padrao h2 {
    margin-top: 60px;
    font-size: 30pt;
    color: white;
}

.container {
    width: 60%;
    height: 88%;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #282E47;
    border-radius: 5%;
}

.btn-inp {
    width: 90%;
    padding: 40px;
    display: flex;
    justify-content: space-between;
}

.cadastrarFuncionario {
    background-color: #00ffff;
    border: 2px solid #000000;
    border-radius: 20px;
    color: black;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s, border-color 0.3s;
}

/* .cadastrarFuncionario:hover {
    background-color: #00b89c;
    border-color: #00977d;
} */

input {
    border: #ddd solid 1px;
    float: left;
    background-color: #fafafa;
    border: 2px solid #000000;
    border-radius: 20px;
    color: black;
    padding: 10px 20px;
    font-size: 16px;
    transition: background-color 0.3s, border-color 0.3s;
}

#lupa {
    float: left;
    margin: 9px 0px 0px -30px;
    cursor: pointer
}

#lupa:after {
    font-family: FontAwesome;
    font-size: 20px;
    content: "\f002"
}

.tabela {
    width: 90%;
    height: 70%;
    border-collapse: collapse;
    border-radius: 5%;
}

th,
td {
    border: 1px solid #ddd;
    padding: 8px;
    color: white;
}

th {
    text-align: left;
}

#form-funcionario {
    display: none;
    position: fixed;
    justify-content: center;
    align-items: center;
    border-radius: 20px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border: 3px solid rgb(115, 116, 146);
    z-index: 9;
    background-color: #1d203a;
    backdrop-filter: blur(10px);
    padding: 15px;
    width: 800px;
    height: 800px;
}

.cadastro-funcionario {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.cadastro-funcionario label{
    font-size: 30px;
    padding: 30px;
}

.cadastro-funcionario select{
    padding: 10px 20px;
    font-size: 16px;
    background-color: #fafafa;
    border: 2px solid #000000;
    border-radius: 20px;
}

.cadastro-btn{
    display: flex;
    width: 70%;
    padding: 30px;
    justify-content: space-between;
}

.funcionario-btn{

}

.cancelar-btn{

}